@import "tailwindcss";

@theme {
	--color-midnight: #121063;
	--color-tahiti: #3ab7bf;
	--color-bermuda: #78dcca;
  --color-themered:#D16565;
  --color-themeorange : #E09251;
  --color-themewhite : #fdf4f0;

  --font-beautiful : "Beautiful", sans-serif; 
  --font-lato :"Lato", sans-serif;
  --font-playfair :"Playfair", sans-serif;
}
